@import url('https://fonts.googleapis.com/css2?family=Poppins:wgtht@100;200;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

body{
    margin-bottom: 1rem;
}

h1{
    font-size: 2rem;
    padding: 0.625rem 0;
    text-align: center;
}

h1#logo{
    font-size: 1rem;
    margin-left: 1rem;
}

header{
    color: #fff;
    background: #222;
}

nav ul li{
    list-style:  none;
}

#menu-superior{
    display:flex;
    flex-wrap: wrap;
}

nav a{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    display: block;
    padding: 1rem;
}

a:hover{
    color:blueviolet;

}
#topo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
img {
    max-width: 100%;
    display: block;
}
.conteudo{
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    margin: 0 auto;
}
.conteudo > article{
    flex: 1 1 200px;
    margin: 0.625rem;
}
.feed-em-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0.5rem;
    max-width: 960px;
    padding: 0.625rem;
    margin: 0 auto;
}
.feed-em-grid > article:nth-child(n+4){
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:0.5rem;
    align-items: center;
}
.feed-em-grid > article.destaque{
    grid-column: 1;
    grid-row:2/5;
    display: block;
}
@media (max-width:600px) {
    .feed-em-grid{
        grid-template-columns: 1fr 1fr;
    }
    }
    .feed-em-grid>artile:nth-child(n+4){
        display: block;
    }
    .feed-em-grid>artile.destaque{
        grid-column: auto;
        grid-row: auto;
        order: -1;
    }
    .grid2{
        max-width: 960px;
        margin: 0 auto;
        padding: 0.625rem;
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-gap: 1.5em;
    }
    .sidebar>div{
        margin-bottom: 0.625rem;
    }
    @media (max-width:600px) {
    .grid2{
        grid-template-columns: 1fr;
    }
    .sidebar{
        display:flex;
        overflow: scroll;
    }
    .sidebar>div{
        flex:1 0 200px;
        margin: 0 0.625rem;
    }
}


