/* sletor global */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body{
        font-family:Arial, Helvetica, sans-serif;
        width: 100%;
        overflow-x: auto;
    }
    h1{
        text-align: center;
    }
    section{
        margin: 1.5rem;

    }
    table{
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 2rem;
    }
    table, th,td{
        border: 1px solid black;
    }
    caption, tfoot{
        font-weight: bold; 
    }
    #tabela01 tfoot{
        text-align: center;
    }
    th{
        background: #ccc;
        height: 3rem;
    }
    td{
        height: 2rem;
        padding: 0.625rem;
    }
    #tabela02 th, #tabela02 tr, #tabela02 td{
        border: 3px solid #fff
    }
    #tabela02 th{
        background: #999;
    }
    #tabela02 tr:nth-child(even){
        background-color: #999;
    }
    #tabela02 tr:nth-child(odd){
        background-color: #ccc;
    }
    #tabela02 tr:hover{
        background: cyan
    }
    .center{
        text-align: center;
    }

